[user]
	name = Tsung-Hsien Lee
	email = tsung.hsien.lee@gmail.com
[core]
	editor = vi
[merge]
	tool = vimdiff

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
